#map{
    margin: 0 auto;
    max-height:70%; max-width:70%;
}
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
nav{
    width:50%;
    margin: 0 auto;
}
#current-tab{
    height:350px;
}
.gender-icon{
    font-size: 500%;
}
.gender-button{
    width: 180px;
    height: 180px;
}
.care-needs-button{
    margin-top : 10px;
    font-size: 150%;
    width: 170px;
    height: 170px;
}
.care-needs-icon{
    margin: 0 auto;
    max-height:50%;max-width:50%
}
.language-button{
    margin-top : 10px;
    font-size: 150%;
    width: 180px;
}
.language-selected {
    background-color: lightBlue;
}
.care-needs-selected {
    background-color: #9b59b6;
}
.day-selected {
    background-color: #e74c3c;
}
.gender-selected {
    background-color: #2ecc71;
}
.slider {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
