#map{
    margin: 0 auto;
    max-height:70%; max-width:70%;
}
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
nav{
    width:50%;
    margin: 0 auto;
}
#current-tab{
    height:350px;
}
.gender-icon{
    font-size: 500%;
}
.gender-button{
    width: 180px;
    height: 180px;
}
.care-needs-button{
    margin-top : 10px;
    font-size: 150%;
    width: 170px;
    height: 170px;
}
.care-needs-icon{
    margin: 0 auto;
    max-height:50%;max-width:50%
}
.language-button{
    margin-top : 10px;
    font-size: 150%;
    width: 180px;
}
.language-selected {
    background-color: lightBlue;
}
.care-needs-selected {
    background-color: #9b59b6;
}
.gender-selected {
    background-color: #2ecc71;
}
.days-selected {
    background-color: #FFD700;
}
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    
}
.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    background: #81B8F3;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    background: #F9FBFA;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;

}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;
    cursor: default;
    cursor: pointer;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.4em;
    margin-left: -.5em;
}

.time-range {
  width: 600px;
}
.schedule-button{
}
