body{
    font-family:"Open Sans";
}
#map{
    margin: 0 auto;
    background-image: url(images/map.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 37%;
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

#summary{
    height: 40px;
    margin-left: 50px;
}

/* the buttons don't scale or resize at all'*/
#mapRender {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px
}

#careButton1 {
  position: absolute;
  top: 100px;
  left: 700px;
}

#careButton2 {
  position: absolute;
  top: 50px;
  left: 1100px;
}

#careButton3 {
  position: absolute;
  top: 10px;
  left: 450px;
}

#careButton4 {
  position: absolute;
  top: 400px;
}

.button-link{
    color: black;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

nav{
    width:100%;
    margin: 0 auto;
}
#current-tab{
    height:350px;
}
.gender-icon{
    font-size: 400%;
}
.gender-button{
    width: 170px;
    height: 170px;
    font-size: 130%;
}
.care-needs-button{
    margin-top : 10px;
    font-size: 130%;
    width: 90px;
    height: 90px;
}
.care-needs-icon{
    margin: 0 auto;
    max-height:50%;max-width:50%
}
.language-button{
    margin-top : 10px;
    font-size: 130%;
    width: 170px;
}
.language-selected {
    background-color: powderblue;
}
.care-needs-selected {
    background-color: powderblue;
}
.gender-selected {
    background-color: powderblue;
}
.days-selected {
    background-color: powderblue;
}

/*code modified from https://codepen.io/anon/pen/PmPbWd*/
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
}
.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    /*box-shadow: 0 1px 0 #AAD6F6 inset;*/
    background: #81B8F3;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    background: #95a5a6;
    /*box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;*/

}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;
    cursor: default;
    cursor: pointer;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.4em;
    margin-left: -.5em;
}

.time-range {
  width: 600px;
  display: None;
}
.schedule-button{
    width: 50px;
    margin-left: 5px;
}
.slider-close-button{
    margin-top: 40px;
    background-color: #e74c3c;
}
.red{
    background-color: #e74c3c;
}
#reset-care-needs{
    margin-left: 40px;
}
#reset-days{
    margin-left: 40px;
}
.splash{
    background-image: url("images/splashmap.png");
}
.Title{
    /*font-family: "Times New Roman", Georgia, Serif;*/
    color: #1E90FF;
    margin: 0px;
    font-size: 80px;
    letter-spacing: -4px;
    font-weight: bold;
}
#form{
    position:relative;
    top:210px;
    border-style: solid;
    border-color: #C0C0C0;
    border-radius: 10px;
    font-size: 20px;
    align:center;
    padding: 20px 20px 20px 20px;
    width:500px;
}
#Search_Q{
    position:relative;
    top:190px;
    font-size: 40px;
}

#search_title{
    position: relative;
    top: 150px;
}

