<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-2">
    <div>
      <button type="button" class="btn care-needs-button">
        <div class="care-needs-icon">
          Icon
        </div>
        <br/>
        Bathing/Hygiene
      </button>
    </div>
    <div>
      <button type="button" class="btn care-needs-button">
        <div class="care-needs-icon">
          Icon
        </div>
        <br/>
        Shopping
      </button>
    </div>
  </div>
  <div class="col-md-2">
    <div>
      <button type="button" class="btn care-needs-button">
        <div class="care-needs-icon">
          Icon
        </div>
        <br/>
        Medicine
      </button>
    </div>
    <div>
      <button type="button" class="btn care-needs-button">
        <div class="care-needs-icon">
          Icon
        </div>
        <br/>
        Transportation
      </button>
    </div>
  </div>
  <div class="col-md-2">
    <div>
      <button type="button" class="btn care-needs-button">
        <div class="care-needs-icon">
          Icon
        </div>
        <br/>
        Eating
      </button>
    </div>
    <div>
      <button type="button" class="btn care-needs-button">
        <div class="care-needs-icon">
          Icon
        </div>
        <br/>
        Strength Training
      </button>
    </div>
  </div>
  <div class="col-md-2">
    <div>
      <button type="button" class="btn care-needs-button">
        <div class="care-needs-icon">
          Icon
        </div>
        <br/>
        Mobility
      </button>
    </div>
    <div>
      <button type="button" class="btn care-needs-button">
        <div class="care-needs-icon">
          Icon
        </div>
        <br/>
        Socializing
      </button>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
